<html>
<head>

<title>Bancos - Lista</title>

<meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

<link href="/resources/css/semantic.css" type="text/css" rel="stylesheet" />
</head>
<body>
<nav class="ui fixed menu inverted navbar">
        <a href="" class="item">Lista de Bancos</a>
        <a href="" class="tem">Lista de Cuentas</a>
        <a href="" class="item">Lista de Personas</a>
        
        <a class="ui dropdown item">Operaciones
          <i class="dropdown icon">
          	
          </i>
          
          

        </a>
    </nav> <!-- end nav -->
<main class="ui page grid">
        <div class="row">
            <div class="column">
                <div class="ui message main">
                    <h1 class="ui header">Listado de Bancos</h1>
                    		<table class="ui inverted blue table">
                          		<thead>
								    <tr>
								      <th>Nombre</th>
								      <th>Direccion</th>
								    </tr>
								</thead>
								<tbody>
								{% for banco in Bancos %}
								<tr>    
								    <td>{{ banco.name }}</td>
									<td>{{ banco.address }}</td>
								</tr>
								{% endfor %}
								</tbody>
								
								</table>
                </div>
            </div>
        </div>

           

</main>


</body>
</html>