<html>
<head>
<title>Resultados de la transferencia</title>
<meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

<link href="/resources/css/semantic.css" type="text/css" rel="stylesheet" />
</head>
<body>
<nav class="ui fixed menu inverted navbar">
        <a href="" class="item">Lista de Bancos</a>
        <a href="" class="tem">Lista de Cuentas</a>
        <a href="" class="item">Lista de Personas</a>
        
        <a class="ui dropdown item">Operaciones
          <i class="dropdown icon">
          	
          </i>
          
          

        </a>
    </nav> <!-- end nav -->
<main class="ui page grid">
        <div class="row">
            <div class="column">
                <div class="ui message main">
					{% if result %}
					<div class="ui blue message">Transferencia exitosa!</div>
					{% else %}
					<div class="ui red message">Transferencia fallida!</div>
					{% endif %}
   				</div>
            </div>
        </div>
</main>
</body>
</html>